@font-face { 
    font-family: 本墨今宋; 
    src: url(ttf/本墨今宋.tff)
}
@font-face { 
    font-family: 汉仪乐喵体; 
    src: url(ttf/汉仪乐喵体.tff)
}
@font-face { 
    font-family: 字酷堂清楷体; 
    src: url(ttf/字酷堂清楷体.tff)
}
@font-face { 
    font-family: 字酷堂海藏楷体; 
    src: url(ttf/字酷堂海藏楷体.tff)
}
@font-face { 
    font-family: 默陌山魂手迹; 
    src: url(ttf/默陌山魂手迹.tff)
}
@font-face { 
    font-family: 潮字社时光简; 
    src: url(ttf/潮字社时光简.tff)
}
@font-face { 
    font-family: 文鼎特颜楷; 
    src: url(ttf/文鼎特颜楷.ttf)
}
@font-face { 
    font-family: 逐浪雅宋体; 
    src: url(ttf/逐浪雅宋体.otf)
}
@font-face { 
    font-family: Brush\ Script\ Std; 
    src: url(ttf/Brush\ Script\ Std.tff)
}
@font-face { 
    font-family: Kaushan\ Script; 
    src: url(ttf/Kaushan\ Script.tff)
}
@font-face { 
    font-family: Lobster; 
    src: url(ttf/Lobster.tff)
}
@font-face { 
    font-family: Stencil\ Std; 
    src: url(ttf/Stencil\ Std.tff)
}
@font-face { 
    font-family: HoneyLight; 
    src: url(ttf/HoneyLight.tff)
}
@font-face { 
    font-family: Lucida\ Grande\ Regular; 
    src: url(ttf/Lucida\ Grande\ Regular.tff)
}
@font-face { 
    font-family: Berkshire\ Swash; 
    src: url(ttf/Berkshire\ Swash.tff)
}
@font-face { 
    font-family: SeasideResortNF; 
    src: url(ttf/SeasideResortNF.tff)
}